<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.knuhui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".profile.ConsentActivity" />
        <activity android:name=".profile.ChangepwActivity" />
        <activity android:name=".profile.ChangecarnumActivity" />
        <activity android:name=".profile.ChangephnumActivity" />
        <activity android:name=".profile.ChangeaddrActivity"/>
        <activity android:name=".treatment.Wait_Search_Activity" />
        <activity android:name=".reservation.Reservation_Search_Activity" />
        <activity android:name=".RoadList_Activity" />
        <activity android:name=".history.History1_Activity" />
        <activity android:name=".history.History2_Activity" />
        <activity android:name=".history.History3_Activity" />
        <activity android:name=".history.History4_Activity" />
        <activity android:name=".treatment.Treatment_Search_Activity" />
        <activity android:name=".reservation.Reservation_Activity" />
        <activity android:name=".history.History_Search_Activity" />
        <activity android:name=".ticket.Ticket_Activity" />
    </application>

</manifest>